/Coursework/FinalProject/v1/data.npy
/Coursework/FinalProject/.idea
/Coursework/FinalProject/v1/.idea
/Coursework/FinalProject/v1/GoodData.npy
/Coursework/FinalProject/v1/bestGAN.pth
/Coursework/FinalProject/v2/Flickr.npy
/Coursework/FinalProject/v2/bestGAN.pth